# deps
node_modules
npm-debug.log*

# build
dist
coverage

# git
.git
.gitignore


# logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# editor
.vscode
.idea

# docker
Dockerfile
docker-compose.yml
.dockerignore

# misc
*.md